
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 25vh;
    height: 70vh;
    text-align: center;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .total{
            color: white;
            font-family: 'Lato', sans-serif;
            font-size: 34px;
            margin-top: 5%;
        }

        .cart-container{
            padding:10px 20px ;
            font-family: 'Lato', sans-serif;
            color: #AEAEAE;
            border: 1px solid #C1BB4D;
            height: 40vh;
            width: 50vh;
            overflow-x: auto;
            text-align: left;

            .cart-item{
                margin-bottom: 15px;
                h1{
                    font-size: 28px;
                }

                p{
                    font-size: 24px;
                }
            }
        }

        .cart-button{
            margin-top: 5%;
            display: flex;
            width: 100%;
            justify-content: space-between;
            button{
                width: 48%;
                font-family: 'Roboto', sans-serif;
                color: #AEAEAE;
                //padding: 5px 25px;
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #C1BB4D;
                background-color: transparent;
                padding: 7px 0;
                text-align: center;

                

                &:hover {
                    opacity: 0.8;
                    color: #212332;
                    cursor: pointer;
                    background-color: #C1BB4D;
                }
            }
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .buttons{
            width: 100%;
            display: flex;
            justify-content: space-between;

            a{
                font-family: 'Roboto', sans-serif;
                color: #AEAEAE;
                //padding: 5px 25px;
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #C1BB4D;
                width: 300px;
                padding: 7px 0;
                text-align: center;

                

                &:hover {
                    opacity: 0.8;
                    color: #212332;
                    background-color: #C1BB4D;
                }
            }

            .nav-item-input{
                font-family: 'Roboto', sans-serif;
                color: #AEAEAE;
                //padding: 5px 25px;
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #C1BB4D;
                background-color: transparent;
                width: 300px;
                padding: 7px 0;
                text-align: center;
            }
            .search{
                width: 600px;
            }

            .logout {
                border: 1px solid #CE1515;

                &:hover {
                    background-color: #CE1515; 
                }
            }
        }
    }   
}

.cards-container{
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: rgba(180, 175, 175, 0.04);
    border: 1px solid #AD9B3A;
    height: 60vh;
    width: 130vh;
    overflow: auto;

    .card{
        display: flex;
        align-items: center;
        border: 1px solid #AD9B3A;
        background: rgba(180, 175, 175, 0.17);
        margin-top: 2%;
        width: 95%;
        height: 8%;


        .infos-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .p{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 70%;
            }

            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 27px;
                color: #EFEFEF;
                margin-left: 3%;
            }

            .addToCart{
                height: 35px;
                width: 35px;
                background-image: url('../../assets/picture/plus-math.png');
                background-color: transparent;
                color: transparent;
                background-size: cover;
                border: none;
                margin-right: 3%;
                

                &:hover{
                    cursor: pointer;
                    scale: 1.03;
                }
            }

        }
    }


    // .card{
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: space-around;
    //     width: 30%;
    //     height: 85%;
    //     background: rgba(180, 175, 175, 0.17);
    //     border: 1px solid #AD9B3A;
    //     margin-top: 3.5%;

    //     &:hover{
    //         cursor: pointer;
    //         scale: 1.02;
    //     }

    //     .image-container{
    //         width: 45%;
    //         height: 33%;
    //     }

    //     .infos-container{
    //         align-self: flex-start;
    //         margin-left: 15%;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: flex-start;
    //         align-items: stretch;

    //         p{
    //             font-family: Roboto;
    //             font-style: normal;
    //             font-weight: normal;
    //             font-size: 23px;
    //             line-height: 27px;
    //             color: #EFEFEF;
    //             margin-bottom: 10%;
    //         }
    //     }
    // }
}

