*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    background-image: url('../assets/picture/LSPD_CAD.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow-x: hidden;
}