

.citoyen-container{
    margin-top: 25vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        height: 85%;
        .infos-citoyen{
            height: 45%;
            border: 1px solid #AD9B3A;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            .haut{
                display: flex;
                justify-content: space-around;
                height: 55%;
                width: 100%;

                p{
                    margin-top: 5%;
                    color: white;
                    font-size: 20px;
                    font-family: 'Lato', sans-serif;
                }
            }

            .bas{
                height: 40%;
                width: 100%;
                display: flex;
                font-family: 'Lato', sans-serif;
                justify-content: space-around;

                .bas-left, .bas-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }


                p{
                    color: white;
                    font-size: 16px;
                }

                    .alert{
                        color: red;
                        font-size: 27px;
                        animation: clignote 1.5s infinite;
                    }

                    .convoque{
                        color: #AD9B3A;
                        font-size: 23px;
                    }
            
            }
        }

        @keyframes clignote {  
            50% { opacity: 0; }
        }

        .modifCheck{
            height: 45%;
            border: 1px solid #AD9B3A;
            

            .formModifCheck{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                button{
                    width: 100%;

           
                font-family: 'Roboto', sans-serif;
                color: #AEAEAE;
                //padding: 5px 25px;
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #C1BB4D;
                width: 80%;
                padding: 7px 0;
                text-align: center;
                background: transparent;

                &:hover {
                    opacity: 0.8;
                    color: #212332;
                    background-color: #C1BB4D;
                    cursor: pointer;
                }
        
                }
            }

            .form-group {

                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 70%;

                label{
                    color: white;
                    font-family: 'Lato', sans-serif;
                    font-size: 18px;
                }


                .switch {
                    appearance: none;
                    height: 2em;
                    width: 4em;
                    background-color: #c2c2c2;
                    cursor: pointer;
                    border-radius: 1em;
                    position: relative;
                    transition: background-color 0.3s ease;
                  }
                  
                  .switch::before {
                    content: "";
                    height: 100%;
                    width: 50%;
                    background-color: white;
                    position: absolute;
                    border-radius: 50%;
                    border: #c2c2c2 solid 0.2em;
                    transition: transform 0.3s ease, border-color 0.3s ease;
                  }
                  
                  .switch:checked {
                    background-color: #AD9B3A;
                  }
                  
                  .switch:checked::before {
                    border-color: #AD9B3A;
                    transform: translateX(100%);
                  }
            }
        }
    }

    .right{
        align-self: center;
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .container{
            border: 1px solid #AD9B3A;
            height: 30%;
            overflow-y: auto;
        }

        .vehicules-container{
            display: flex;
            flex-direction: column;
            //flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            background: rgba(180, 175, 175, 0.04);
            overflow: auto;
            .card{
                display: flex;
                align-items: center;
                border: 1px solid #AD9B3A;
                background: rgba(180, 175, 175, 0.17);
                margin-top: 2%;
                width: 95%;
                height: 20%;
        
                &:hover{
                    scale: 1.02;
                    cursor: pointer;
                }
        
                .infos-container{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
        
                    p{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 27px;
                        color: #EFEFEF;
                        margin-left: 3%;
                    }
        
                }
            }
        }

        .saisie-container{
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .weapons-container{
                display: flex;
            flex-direction: column;
            //flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
                border: 1px solid #AD9B3A;
                height: 100%;
                width: 47%;
                background: rgba(180, 175, 175, 0.04);
                overflow: auto;

                .card{
                    display: flex;
                    align-items: center;
                    border: 1px solid #AD9B3A;
                    background: rgba(180, 175, 175, 0.17);
                    margin-top: 2%;
                    width: 95%;
                    height: 20%;
    
            
                    .infos-container{
                        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

                        .p{
                            
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            width: 70%;
                            
                            p{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 27px;
                                color: #EFEFEF;
                                margin-left: 3%;
                            }
                        }

                        .addToCart{
                            height: 20px;
                            width: 20px;
                            background-image: url('../../assets/picture/image_icon_minus_7_pic_512x512.png');
                            background-color: transparent;
                            color: transparent;
                            background-size: cover;
                            border: none;
                            margin-right: 3%;
                            
            
                            &:hover{
                                cursor: pointer;
                                scale: 1.06;
                            }
                        }
            
                    }
                }
            }

            .objects-container{
                display: flex;
            flex-direction: column;
            //flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
                border: 1px solid #AD9B3A;
                height: 100%;
                width: 47%;
                background: rgba(180, 175, 175, 0.04);
                overflow: auto;

                .card{
                    display: flex;
                    align-items: center;
                    border: 1px solid #AD9B3A;
                    background: rgba(180, 175, 175, 0.17);
                    margin-top: 2%;
                    width: 95%;
                    height: 20%;
            
            
                    .infos-container{
                        display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            
                        .p{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            width: 70%;

                            p{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 27px;
                                color: #EFEFEF;
                                margin-left: 3%;
                            }
                        }

                        .addToCart{
                            height: 20px;
                            width: 20px;
                            background-image: url('../../assets/picture/image_icon_minus_7_pic_512x512.png');
                            background-color: transparent;
                            color: transparent;
                            background-size: cover;
                            border: none;
                            margin-right: 3%;
                            
            
                            &:hover{
                                cursor: pointer;
                                scale: 1.06;
                            }
                        }
            
                    }
                }
            }
        }

        .justice-container{
            border: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .casier-container{
                border: 1px solid #AD9B3A;
                height: 100%;
                width: 70%;
            }

            .bracelet-container{
                font-family: 'Lato', sans-serif;
                h1{
                    color: white;
                    font-weight: 400;
                    font-size: 23px;
                }

                p{
                    color: #AD9B3A;
                    font-size: 23px;
                }

                border: 1px solid #AD9B3A;
                height: 100%;
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                button{
                    width: 100%;

           
                font-family: 'Roboto', sans-serif;
                color: #AEAEAE;
                //padding: 5px 25px;
                font-size: 23px;
                font-weight: 600;
                text-decoration: none;
                border: 1px solid #C1BB4D;
                width: 80%;
                padding: 7px 0;
                text-align: center;
                background: transparent;

                &:hover {
                    opacity: 0.8;
                    color: #212332;
                    background-color: #C1BB4D;
                    cursor: pointer;
                }
        
                }
            }
        }
    }

}